.slider-container{
    
    display: inline-flex;
    justify-content: center;
}

.slider{
    width: 642px;
    height: 649px;
}

.slider__items{
    width: 642px;
    height: 649px;
}

.slider__img{
    width: 642px;
    height: 649px;
}

.carousel{
    width: 100px;
}


h3{
    width: 350px;
    height: 200px;
}
